.BirthDate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.BirthDate-container > h2 {
  margin: 50px;
}

.BirthDate-container > form {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.BirthDate-container > form > main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.BirthDate-container > form > main .birthDate-select:first-child {
  margin-right: 40px;
}

.BirthDate-container > form > main .birthDate-select:last-child {
  margin-left: 40px;
}
