.Result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Result-container .result-name {
  width: 50%;
}

.Result-container .result-generation {
  width: 50%;
}

.Result-container .result-sign {
  width: 50%;
}
