.Result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Result-container h4 {
  text-align: center;
}

.Result-container p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.Result-container h2 {
  margin: 50px;
}

.result-name,
.result-generation,
.result-sign {
  width: 50%;
}
