* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --primaryFont: Montserrat;
  --primaryFontBold: Montserrat;
  --secondaryFont: Raleway;
  --secondaryFontBold: Raleway; */

  /* font sizes */
  --header1: 30px;
  --header2: 26px;
  --header3: 20px;
  --header4: 16px;
  --paragraph: 16px;
  --link: 16px;

  --background: #f1f8f7;
  --primaryButtonColor: #88c562;
  --primaryButtonHover: #57ae1f;
  --secondaryButtonColor: #5097d1;
  --secondaryButtonHover: #0a67b0;
  --tertiaryButtonColor: #3e7672;
  --tertiaryButtonHover: #06544e;
  --fontColor: #1b4947;
  --errorColor: #ef5d5b;
  --warningColor: #f1d24f;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--fontColor);
}

button {
  cursor: pointer;
}
