.Name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Name-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Name-container form > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Name-container form > div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Name-container form > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
