.Name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Name-container > h2 {
  margin: 50px;
}

.Name-container > form {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Name-container > form > main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Name-container > form > main .name-item {
  margin-bottom: 25px;
}

.Name-container > form > main > section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Name-container > form > main > section > p {
  margin-left: 10px;
}

.Name-container footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
