.Gender-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Gender-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Gender-container form div {
  display: flex;
  align-items: center;
  justify-content: center;
}
